@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.color-rojo {
    color: #FC200C
}

.color-verde {
    color: #39B24A;
}

.color-blanco {
    color: #F3F3F3;
}


/* Header ------------------------------------------------------------------------ */

header,
footer {
    padding: 1%;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F3F3F3;
}

header img {
    margin-right: 10px;
}

header>div:first-child {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #F3F3F3;
    font-size: 18px;
    margin: 6px;
    font-weight: lighter;
    cursor: pointer;
}


/* Main ------------------------------------------------------------------------ */


/* Sección envios gratis ------------------------------ */

main {
    display: flex;
    justify-content: center;
    padding: 3% 3%;
    font-weight: bold;
    font-size: 18px;
    background-color: #E5E5E5;
}

.envio-gratis {
    background-image: url("assets/delivery.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 1.5%;
    width: 45%;
    height: auto;
    border-radius: 5px;
    margin: 5px;
}

.podio {
    background-color: #FFFFFF;
    padding: 1.5% 4% 2% 4%;
    border-radius: 5px;
    width: 45%;
    margin: 5px;
    cursor: pointer;
}

.podio h2 {
    text-align: center;
    margin-bottom: 50px;
}

.lista-podio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lista-podio li {
    margin: 12px;
}

.lista-podio img {
    width: 92px;
    height: 129px;
}


/* Footer ------------------------------------------------------------------------ */

footer {
    padding: 2%;
    font-size: 18px;
}

footer>div:last-child {
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

footer img {
    margin-right: 10px;
}

.bottom {
    margin-bottom: 15px;
}